img {
    width: 300px;
    height: 300px;
}

.first-image {
    width: 400px;
    height: 300px;
}

nav {
    padding-left: 150px;
    display: grid;
    grid-template-columns: 100px 100px;
    gap: 250px;
}